{% extends "news/base.html" %}


{% block shere %}

	<meta property="og:title" content="Үшқоңыр">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/kolledj.jpg">

{% endblock shere %}


{% block content %}


    <section>
        <div class="discuss_projects discuss_projects1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="project_text text-center">
                            <h3>Үшқоңыр</h3>
                            <p>Медресе колледжі</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="about_me">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="about_e_details">
                            <h3>Колледж жайлы</h3>
                            <p><strong>Үшқоңыр  медресе  колледжі  2015  жылы  құрылған.</strong>

                                Колледж   <strong>«Исламтану»</strong>  мамандығы  бойынша  мемлекеттік  лицензияға 
                                сәйкес
                                <strong>(№KZ51LAA00010535,  20.12. 2017 жыл)</strong>  техникалық  және кәсіптік білім 
                                беру  саласында 
                                қызметін  жүзеге  асырады.


                            </p>
                            <p><strong>Ресми сайты: u-mk.edu.kz</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="about_img">
                            <div class="my_Pic">
                                <img src="/media/imeges/kolledj.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="section-top-border project_text11">
            <h3 class="mb-30 pd-study">Үшқоңыр медресе колледжі</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="/media/imeges/logo2.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <blockquote class="generic-blockquote">
                        <span>Колледждің басты мақсаты: </span>исламтанушылар, білімді имамдар дайындау,
                        болашақ дін қызметкерлеріне практикалық мәселелерді білікті түрде шешуге, мұсылман шариғатының
                        қағидаларын түсіндіруге, діни жора-жоралғылардың дәстүрлі ханафи мазһабына сәйкестілігін, шынайы
                        Исламның қағидаларына қайшы келетін жат сенімдердің белгілерін анықтауға, қоғамның рухани
                        әлеуетінің жоғарылауына және адамгершілік мінез-құлықты бекітуге, қоғамдағы үйлесімді және
                        жеткілікті дәрежеде білім алған тұлғалардың дамуына қажетті негіз қалауға мүмкіндік беретін
                        білім және біліктілік кешенін меңгеруге жағдай тудыру.
                        <br> <br>Колледжде  білім беру  қазақ  тілінде  жүргізіледі.
                        Оқу нысаны: <span>күндізгі,сырттай.</span>
                        Қабылдау <span>негізгі (9 сынып)</span>  және <span>жалпы орта (11сынып)</span> білім  базасында
                        жүргізіледі.
                        <span>0112000</span>
                        Мамандық:
                        <span>Исламтану
                            Біліктілік:
                            «0112013–Имам-хатиб»
                            «0112023–Исламтану пәнінің мұғалімі»</span>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}