{% extends "news/base.html" %}


{% block shere %}

	<meta property="og:title" content="Колледж">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}


{% block content %}


    <section>
        <div class="bg-white pt-3 pb-5 pd_academy">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <a href="{{url}}catalog/person" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/111A.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Әкімшілік
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="{{url}}aboutMedrese" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/kolledj.jpg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Біз туралы
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="{{url}}history" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/history.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Колледж тарихы
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="#" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/structura.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Колледж структурасы
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="{{url}}contacts" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/5555.jpg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Байланыс
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="#" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/777.jpg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Орталықтар
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}