{% extends "news/base.html" %}

{% block shere %}

	<meta property="og:title" content="Тарихы">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}


{% block content %}


    <section>
        <div class="discuss_projects discuss_projects1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="project_text text-center">
                            <h3>Үшқоңыр</h3>
                            <p>Медресе колледжі тарихы</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="section-top-border project_text11 mt-5">
            <h3 class="mb-30 pd-study">Үшқоңыр медресе колледжі тарихы</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="/media/imeges/logo2.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <blockquote class="generic-blockquote">
                        <span>Колледждің басты мақсаты: </span>исламтанушылар, білімді имамдар дайындау,
                        болашақ дін қызметкерлеріне практикалық мәселелерді білікті түрде шешуге, мұсылман шариғатының
                        қағидаларын түсіндіруге, діни жора-жоралғылардың дәстүрлі ханафи мазһабына сәйкестілігін, шынайы
                        Исламның қағидаларына қайшы келетін жат сенімдердің белгілерін анықтауға, қоғамның рухани
                        әлеуетінің жоғарылауына және адамгершілік мінез-құлықты бекітуге, қоғамдағы үйлесімді және
                        жеткілікті дәрежеде білім алған тұлғалардың дамуына қажетті негіз қалауға мүмкіндік беретін
                        білім және біліктілік кешенін меңгеруге жағдай тудыру.
                        <br> <br>Колледжде  білім беру  қазақ  тілінде  жүргізіледі.
                        Оқу нысаны: <span>күндізгі,сырттай.</span>
                        Қабылдау <span>негізгі (9 сынып)</span>  және <span>жалпы орта (11сынып)</span> білім  базасында
                        жүргізіледі.
                        <span>0112000</span>
                        Мамандық:
                        <span>Исламтану
                            Біліктілік:
                            «0112013–Имам-хатиб»
                            «0112023–Исламтану пәнінің мұғалімі»</span>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section-top-border text-right project_text11">
            <div class="row">
                <div class="col-md-12">
                    <blockquote class="generic-blockquote">
                        <span>Кәсіби қызметтік аясы</span>
                             <br>
                        <p style="text-indent: 20px;">Діни ұйымдар ( Қазақстан мұсылмандары діни басқармасы, мешіт және
                            т. б.). Қазақстан
                            Республикасы қалаларының және облыстарының әкімдіктері. Жастар саясаты мәселелері жөніндегі
                            басқарма, дін істері жөніндегі Департамент, ІІМ, ҰҚК, БАҚ. Ғылыми-зерттеу, мұражай
                            орталықтарында, мемлекеттік-құқықтық, діни және қоғамдық ұйымдарда, оқу орындарында.
                            Ғылыми-зерттеулік қызмет, дінаралық және конфессияаралық қарым-қатынастар маманы.</p>
                             <p style="text-indent: 20px;">Үшқоңыр медресе  колледжі  мемлекеттік стандарт талаптарына
                            сай, еңбек нарығында
                            бәсекелестікке қабілетті  маман дайындайтын, заманауи -материалдық  техникалық базасы мен
                            инфраструктурасы бар озық білім мекемесі. 2013 жылы күрделі  қайта жөндеуден өткізілген  оқу
                            ғимараты, соңғы үлгідегі көлемі  530 м2  құрайтын  спорт  стадионы, мәжіліс залы, дәрігерлік
                            бөлімше, компьютерлік техникамен жабдықталған  кітапхана, асхана, мультимедиялық құралдармен
                            жабдықталған  интербелсенді тақтасы бар  оқу зертханалары, Интернет желісі
                            мен Он-лайн режиміне
                            қосылған, локальді желілермен жалғанған 2 компьютерлік сыныптар жастарға сапалы білім беру
                            ісінде тиімді пайдаланылады. 4 жыл ішінде күндізгі, сырттай оқыту түрлерінде 518 студент
                            білім
                            алып, білім нәрімен сусындаған  126  түлектің  бірі өз білімдерін жоғарғы оқу орындарында
                            дәлелдеп қана қоймай, еліміздің өркендеуіне ерен үлестерін қосып жатса, бірі  Республиканың
                            түрлі мекемелерінде ел игілігі үшін еңбек етуде. Түлектердің жұмысқа орналасуы бүгінгі
                            таңда 95% жетті.</p>
                               <p style="text-indent: 20px;">Колледж студенттері  Республикалық Діни  пәндер (араб тілі,
                            Құран, фиқһ-ақида) бойынша
                            олимпиадаларда және Кіші ғылыми академиясының практикалық конференцияларында  34 студент 
                            жүлделі орындарға ие болды. Ал жалпы бұл олимпиадалар мен жобаларда 100-ге жақын студент
                            қатысып
                            колледж мәртебесін асырды. 2019 жылы  колледж ЮНЕСКО-ның қауымдастырылған ассоциясына(АШЮ в
                            РК)
                            мүше болып тіркелді.  Колледжде тұрақты еңбекке барлығы 42 адам тартылған.  Оқытушылар  саны
                            –
                            24, ішінде  ғылым кандидаттары, магистрлер, Ы.Алтынсарин атындағы белгі  білім беру ісінің
                            үздіктері, ҚМДБ және БҒМ алғыс хаттары иегерлері.  Оның 67 %  жоғары және бірінші санатты.
                        </p>   
                             <p style="text-indent: 20px;">Студенттердің білімі мен тәжірибесін ұштастыруына мүмкіндік
                            қарастырылып ҚМДБ мешіттерімен
                            және т. б.  мекемелермен екі жақты тұрақты келісім шарт жасалған. Соның ішінде біздің
                            әлеуметтік
                            серіктестіктер:</p>
                        <ul>
                            <li>«Нұр-Мүбарак Египет ислам мадениеті университеті»</li>
                            <li>«Әл-Фараби атындағы ҚазҰУ (Шығыстану факультеті)</li>
                            <li>«ҚазҰПУ»</li>
                            <li>«Абылай хан атындағы ҚазХҚ және ӘТУ  (Шығыстану факультеті) тағы басқалары бар.</li>
                        </ul>
                              <p style="text-indent: 20px;">Колледжде жастар саясатының даму мәселелері,
                            ұлттық-мәдениетiне, рухани-адамгершiлiгіне,
                            эстетикалық және отансүйгiштiк тәрбиесiне, салауатты өмiр салтына ерекше көңіл бөлінуде.
                             Студент жастардың бос уақытын дұрыс ұйымдастыру мақсатында студенттік әртүрлі бағыттағы
                            шығармашылық топтар мен үйірмелер, спорттық секциялар жұмыс жасайды. Колледж жанындағы жазғы
                            сауықтыру лагері және сауат ашу курсы ұйымдастырылады.  Колледжде әлеуметтік қорғау
                            мәселесіне
                            де үлкен мән беріледі. Оқудағы үздік үлгерімі мен қоғамдық жұмыстарға белсене араласатын,
                            әлеуметтік жағдайы төмен, жетім студенттерге жеңілдіктер тағайындау қарастырылады.</p>
                             <p style="text-indent: 20px;">Алда зор міндеттер бар. Колледж білімді ұрпақ тәрбиелеу,
                            өзінің материалдық-техникалық және
                            ақпараттық-коммуникациялық инфрақұрылымын  жаңарту, жаңа оқу зертханаларын ашу сияқты
                            шараларды
                            жоспарлап отыр.  Оқу ордасының қазіргі таңдағы даму қарқынын пайымдаған уақытта, бұл
                            талпыныстың
                            маңыздылығы, мақсаттың орындалары күмән туғызбайды.</p>

                        <strong>Оқу материалдық база:</strong>
                        <ol>
                            <li>Жобалық қуаттылығы: 320 орын</li>
                            <li>Жалпы ғимарат ауданы: 1980 шаршы метр</li>
                            <li>Жер учаскесі: 1 га</li>
                            <li>Жатақхана: 200 орын</li>
                            <li>Асхана: 200 орын</li>
                            <li>Акт залы</li>
                            <li>Спорт (тренажерлық) залы, спорт алаңы</li>
                            <li>Медициналық пункт</li>
                            <li>Үшқоңыр ауылы Қарасай батыр мешіті маңында Үшқоңыр медресе колледжінің ұлдар бөліміне
                                арналған 300 адамдық оқу-ғимараты салынуда. Жоспар бойынша 2022 жылы құрылыс толығымен
                                аяқталады</li>
                        </ol>

                        <strong>Колледждің жетістіктері:</strong>

                        <p style="text-indent: 20px;">Колледж студенттері Республикалық Діни пәндер (араб тілі, Құран,
                            фиқһ-ақида) бойынша
                            олимпиадаларда және Кіші ғылыми академиясының практикалық конференцияларында 34 студент
                            жүлделі
                            орындарға ие болды. Ал жалпы бұл олимпиадалар мен жобаларда 100-ге жақын студент қатысып
                            колледж
                            мәртебесін асырды. 2019 жылы колледж ЮНЕСКО-ның қауымдастырылған ассоциясына(АШЮ в РК) мүше
                            болып тіркелді.
                            <br>2018 жыл 6 мамыр Алматы қаласы, Орталық Азия университеті базасында Кіші ғылым
                            академиясының
                            44-ші республикалық ғылыми-тәжірибелік конференциясы,Үшқоңыр медресе колледжі Исламтану
                            мамандығының студенті:
                            <br>Кәмила Нұрымова, 2 курс, «Латын әліпбиіне оралудың ұтымды тұстары» қазақ әдебиеті пәні;
                            Қазақ
                            мемлекеттік қыздар педагогика институтынатегін оқуға грантқа ие болды.
                            <br>2019 жыл 11 мамыр Алматы қаласы Орталық Азия университеті базасында Кіші ғылым
                            академиясының
                            45-ші республикалық ғылыми-тәжірибелік конференциясы,Үшқоңыр медресе колледжі Исламтану
                            мамандығының студентері: Яхуда Думан,1 курс - I дәрежелі диплом, қазақ әдебиеті пәні;
                            Ерхамза
                            Асия,1 курс, - I дәрежелі диплом, химия және биология пәні;
                        </p>


                            <p style="text-indent: 20px;">Заңды мекен-жайы: Алматы облысы, Жамбыл ауданы, Қарғалы а.о.,
                            Қарғалы а., Ануарбек Журунов
                            көшесі № 60А үй.
                            Корпус №2 Алматы обл. Қарасай ауданы,  Үшқоңыр ауылдық округі, Үшқоңыр ауылы, Жибек жолы
                            көшесі
                            №164 үй.
                                <br>Телефон: 8(72771)5-67-99, 8777-824-11-00, 8(747)935-63-46(кыздар
                            бөлімі),8(707)8747044.
                            <br>Эл.почта: ushkonir@bk.ru
                             <br>instagram: Ushqonir_mk
                             <br>vk: ushkonir@bk.ru
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}