{% extends "news/base.html" %}

{% block shere %}

	<meta property="og:title" content="Оқуға түсу құжаттар">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}

{% block content %}


    <div class="section__title-banner pd_academy">
        <div class="container">
            <h1 class="section__title section__title--white">
                Қабылдау шарттары</h1>
            <div class="section__description">
                Тұлғаларды колледжге оқуға қабылдау конкурстық негізде тұлғалардың өтініштері бойынша жүзеге асырылады
            </div>
        </div>
    </div>

    <div class="section__list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="institutions__list trajectory__list">
                        <div class="institutions__body news__item--line">
                            <div class="trajectory__info">
                                <div class="trajectory__info--item" id="stage1">
                                    <div class="trajectory__info--top">
                                        <div class="trajectory__info--obr">
                                            Қажетті құжаттар
                                        </div>
                                    </div>
                                    <div class="trajectory__info--body">
                                        <div class="trajectory__info--body-item">
                                            <div class="trajectory__info--body-top">
                                                <div class="trajectory__info--obr">
                                                    <ol>
                                                        <li>Директордың атына өтініш (үлгі колледжде)</li>
                                                        <li>Ұсыныс хат (аудан өкіл имамы немесе мешіт имамы)</li>
                                                        <li>Медициналық анықтама Ф-86У, Флюорография</li>
                                                        <li>Денсаулық паспорты,063- егілу кітапша (көшірме)</li>
                                                        <li>Туу туралы куәлік немесе жеке куәлік (көшірме)</li>
                                                        <li>Өмірбаян(Мекенжай,отбасы құрамы,эл.почтасы,байланыс
                                                            номерлері т.б. туралы мәлімет), Мектептен мінездеме</li>
                                                        <li>Білім туралы құжат ( көшірме)</li>
                                                        <li>4 дана сурет 3*4</li>
                                                        <li>Әскері билет немесе әскерге шақыру куәлігі(көшірме)</li>
                                                        <li>Ата-аналарының жеке куәліктерінің көшірмелері.</li>
                                                        <li>Анықтама ЦПС, сотталмағандағы жөнінде</li>
                                                        <li>Анықтама НП,нарколог</li>
                                                        <li>Анықтама ПД,психолог.</li>
                                                    </ol>
                                                    (эл.почтаға жіберуге болады) Эл.почта Ushkonir@bk.ru

                                                    <br>Қабылдау комиссиясының жұмыс кестесі:
                                                    <br>Күнделікті - 9:00-ден 17:30-ге дейін Телефон: 8(747)0447030,
                                                    8(777)8241100 (ұлдар)
                                                    <br>Сенбі күні - 9:00-ден 12:30-ге дейін 8(707)8498549,
                                                    8(707)8747044
                                                    (қыздар)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}