{% extends "news/base.html" %}

{% block shere %}

	<meta property="og:title" content="Медиа">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}

{% block content %}


    <section>
        <div class="main-content pd_academy">
            <div class="bg-white pt-3 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <a href="/catalog/news/1" class="section-item">
                                <div class="section-item__img-wrap">
                                    <div class="section-item__img" style="background-image: url(/media/imeges/newsGG.jpg)">
                                    </div>
                                </div>

                                <div class="section-item__content">
                                    <div class="section-item__title">
                                        Жаңалықтар
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <a href="/catalog/video/1" class="section-item">
                                <div class="section-item__img-wrap">
                                    <div class="section-item__img" style="background-image: url(/media/imeges/video_foto.jpeg)">
                                    </div>
                                </div>

                                <div class="section-item__content">
                                    <div class="section-item__title">
                                        Видеолар
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <a href="/catalog/stati/1" class="section-item">
                                <div class="section-item__img-wrap">
                                    <div class="section-item__img" style="background-image: url(/media/imeges/stats_foto.jpeg)">
                                    </div>
                                </div>

                                <div class="section-item__content">
                                    <div class="section-item__title">
                                        Мақалалар
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <a href="/catalog/news_out/1" class="section-item">
                                <div class="section-item__img-wrap">
                                    <div class="section-item__img" style="background-image: url(/media/imeges/shetel.jpeg)">
                                    </div>
                                </div>

                                <div class="section-item__content">
                                    <div class="section-item__title">
                                        Шетел жаңалықтары
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <a href="/catalog/internationalCooperation/1" class="section-item">
                                <div class="section-item__img-wrap">
                                    <div class="section-item__img" style="background-image: url(/media/imeges/arip.jpeg)">
                                    </div>
                                </div>

                                <div class="section-item__content">
                                    <div class="section-item__title">
                                        Халықаралық және республикалық әріптестік
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <a href="/catalog/youthWork/1" class="section-item">
                                <div class="section-item__img-wrap">
                                    <div class="section-item__img" style="background-image: url(/media/imeges/jj.jpeg)">
                                    </div>
                                </div>

                                <div class="section-item__content">
                                    <div class="section-item__title">
                                        Жастармен жұмыс
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}