{% extends "news/base.html" %}

{% block shere %}

	<meta property="og:title" content="Әкімшілік">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}


{% block content %}


    <section>
        <div class="main-content pd_academy">
            <div class="container pt-4">
                <h1 class="mb-4 text-uppercase project_text3 text-center">Әкімшілік</h1>

                <div class="row mb-3">
                    <div class="col-lg-6" style="min-height: 434px">
                        <a href="/person/{{idDirector.0}}" data-aos="fade-right"
                            class="article-imaged aos-init aos-animate">
                            <div class="article-imaged__img" style="background-image: url(/media/{{photoDirector.0}})">
                            </div>

                            <div class="article-imaged__content p-4">
                                <div class="article-imaged__category mb-1">
                                    Директор
                                </div>
                                <div class="article-imaged__title">
                                    Үшқоңыр медресе колледжінің директоры
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    {% for item in personal %}
                        <div class="col-lg-3 mb-3">
                        <div class="article-card aos-init aos-animate" data-aos="fade-up" data-aos-delays
                            data-aos-offset="220">

                            <a href="/person/{{item.id}}" class="article-card__img-wrap">
                                <div class="article-card__img"
                                    style="background-image: url(/media/{{item.photo}}); background-size: 70%;">
                                </div>
                            </a>


                            <div class="p-4">
                                <div class="article-card__category mb-1">
                                    Әкімшілік
                                </div>
                                <a href="/person/{{item.id}}" class="article-card__title">
                                    {{item.name_position}}
                                </a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock content %}