{% extends "news/base.html" %}

{% block shere %}

	<meta property="og:title" content="Талапкер инструкциясы">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}


{% block content %}


    <section class="science pd_academy">
        <div class="container">
            <div class="science__inner">
                <h2 class="title--line">Колледжеге оқуға қабылдау тәртібі.
                    Құжаттарды қабылдау және оқуға түсу емтихандарын өткізуді ұйымдастыру</h2>
            </div>
            <div class="science__content">
                <div class="text"><strong>1</strong>.Колледжде тұлғалардың оқуға өтініштерін қабылдау, түсу емтихандарын
                    өткізу және білім алушылар құрамына қабылдау үшін колледж директоры бұйрығымен комиссия құрылып 1
                    маусым 2019 жылдан бастап қызмет көрсетеді.
                    <br><strong>2</strong>. Тұлғаларды колледжге оқуға қабылдау конкурстық негізде тұлғалардың
                    өтініштері бойынша жүзеге
                    асырылады
                    <br><strong>3</strong>. Колледжге оқуға азаматтардың өтініштерін қабылдау:
                    <br>1) орта буын мамандарын даярлауды көздейтін техникалық және кәсіптік  білім беру бағдарламалары
                    бойынша оқудың күндізгі нысанына 20 маусым мен 20 тамыз аралығында;
                    <br><strong>4</strong>. Оқуға түсушілер білім беру ұйымдарына оқуға қабылдау туралы өтінішіне білімі
                    туралы құжаттың
                    түпнұсқасын, № 086-У нысаны бойынша  медициналық анықтаманы және  мөр басылған медициналық мекеменің
                    флюрография суретін (I және II топтағы мүгедектер мен бала жасынан мүгедектер үшін
                    медициналық-әлеуметтік сараптаманың қорытындысы), 3x4 көлемдегі 4 суретті қоса береді.
                           <br>Жеке басын куәландыратын құжаттарды оқуға түсушінің өзі, ата-аналары немесе заңды
                    өкілдері
                    ұсынады.
                    Колледжге оқуға қабылдау квоталары қарастырылған тұлғалар санатты растайтын құжаттарды ұсынады.
                    <br><strong>4</strong>. Оқуға түсушілерден түскен өтініштер білім беру ұйымының тіркеу журналдарына
                    оқытудың
                    нысандары
                    бойынша тіркеледі.
                    <br><strong>5</strong>. Түсу емтихандары орта буын мамандарын даярлауды көздейтін техникалық және
                    кәсіптік  білім
                    беру
                    бағдарламалары бойынша және:
                    <br>1) жалпы орта білімі (11 сынып) бар оқуға түсушілер үшін үш пән бойынша (қазақ тілі, Қазақстан
                    тарихы және мамандық бейіні бойынша пән) өткізіледі;
                    <br>2) негізгі орта білімі(9 сынып) бар оқуға түсушілер негізгі орта білімнің жалпы білім беретін
                    оқу
                    бағдарламалары көлемінде екі пән бойынша (қазақ тілі және мамандық бейіні бойынша пән);
                    Конкурс колледжде өткізілген оқуға түсу емтихандардың нәтижесі балл (баға) қорытындысы бойынша
                    өткізіледі.
                    Қабылдау  комиссиясы тиісті бағыттар бойынша оқуға түсушілермен жеке сұхбатты 20 минуттай өткізеді.
                    Сұхбат жүргізуге арналған сұрақтар тізімін  қабылдау комиссиясының төрағасы бекітеді.
                    <br><strong>6</strong>. Орта буын мамандарын даярлауды көздейтін техникалық және кәсіптік  білім
                    беру бағдарламалары
                    бойынша оқуға түсетін тұлғалар үшін оқудың күндізгі нысанына түсу емтихандары 1 тамыз бен 27 тамыз
                    аралығында өткізіледі.
                       
                    <br>Қабылдау емтихандары қағазда немесе компьютерлік техниканы пайдалана отырып тестілеу формасында
                    өткізіледі:
                    <br>- тест тапсырмаларының саны әрбір пән бойынша  (сұрақтары) 25;
                    <br>- әрбір тест тапсырмасының дұрыс жауабы 1 баллмен бағаланады;
                    <br>- тестілеуге үш пән бойынша 2 сағат 15 минут, ал екі пән бойынша 1 сағат 30 минут беріледі;
                    <br>- дұрыс жауаптар коды тестілеу аяқтала салысымен ілінеді(қағазда жазбаша түрінде жүргізілген
                    болса);
                    <br>- тестілеу нәтижелері өткізілген күні хабарланады.
                    <br><strong>7</strong>. Колледжде қабылдау емтихандары қазақ тілдерінде өткізіледі.
                    <br><strong>8</strong>.Қабылдау емтихандарын қайта тапсыруға рұқсат етілмейді.
                    <br><strong>9</strong>. Бірыңғай талаптардың сақталуын қамтамасыз ету және қабылдау емтихандары
                    кезіндегі даулы
                    мәселелерді шешу, түсушілердің құқығын қорғау мақсатында директордың бұйрығымен апелляциялық
                    комиссия құрылады. Апелляциялық комиссия құрамының мүшелер саны тақ болуы керек. Апелляциялық
                    комиссия құрамы тестілеу пәндері бойынша колледждің педагогикалық қызметкерлерінен
                    құрылады.Педагогикалық қызметкерлер саны бір тестілеу пәні бойынша екі адамнан аспайды. Апелляциялық
                    комиссия мүшелерінің құрамынан көпшіліктің дауыс беруімен төраға сайланады.Хатшы  апелляциалық 
                    комиссияның мүшесі бола алмайды.
                    <br><strong>10</strong>. Қабылдау  емтихандарының нәтижелерімен келіспеген тұлға,аппеляцияға өтініш
                    береді.
                         Апелляцияға өтінішті қабылдау емтихандарының нәтижелері хабарланғаннан кейін апелляциялық
                    комиссияға келесі күнгі сағат 13.00-ге дейін беріледі және бір тәулік ішінде өтініш берушінің
                    қатысуымен апелляциялық комиссияда қаралады.
                    <br><strong>11</strong>. Апелляциялық комиссия шешімі комиссия құрамы тізіміндегі мүшелердің  кем
                    дегенде үштен екісі
                    қатысса, заңды бола алады. Апелляциялық комиссия шешімі отырысқа қатысушылардың дауыс беруімен
                    қабылданады. Дауыс тең болған жағдайда комиссия төрағасы шешуші дауыс беруге құқылы. Комиссия жұмысы
                    төрағаның және барлық комиссия мүшелерінің қолдары қойылатын хаттамамен ресімделеді.
                    <br><strong>12</strong>.Колледжге қабылдауды қабылдау комиссиясының ашық отырысында  мамандықтар мен
                    оқыту тілі
                    бойынша
                     жүргізеді.
                    <br><strong>13</strong>. Орта буынды мамандарды даярлау күндізгі оқу бөліміне қабылдану нәтижелері
                    туралы ақпаратты
                    күнтізбелік жылдың 31 тамызына дейін қабылдау комиссияларымен ақпараттық тақталарда орналастыру және
                    колледждің  интернет-ресурсы арқылы  жеткізіледі.
                    <br>
                </div>

            </div>
        </div>
    </section>


{% endblock content %}