{% extends "news/base.html" %}

{% block shere %}

	<meta property="og:title" content="Студент">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}


{% block content %}


    <section>
        <div class="bg-white pt-3 pb-5 pd_academy">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <a href="/catalog/studentBest" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/1111.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Дарынды студенттер
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="/catalog/studentLive/1" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/2232.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Студенттік өмір
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="/catalog/studentHouse/1" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/2223.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Студенттік жатахана
                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </section>


{% endblock content %}