{% extends "news/base.html" %}

{% block shere %}

	<meta property="og:title" content="Талапкерге хабарлама">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}


{% block content %}


    <div class="section__title-banner pd_academy">
        <div class="container">
            <h1 class="section__title section__title--white">
                Қабылдау шарттары</h1>
            <div class="section__description">
                Тұлғаларды колледжге оқуға қабылдау конкурстық негізде тұлғалардың өтініштері бойынша жүзеге асырылады
            </div>
        </div>
    </div>

    <div class="section__list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="institutions__list trajectory__list">
                        <div class="institutions__body news__item--line">
                            <div class="trajectory__info">
                                <div class="trajectory__info--item" id="stage1">
                                    <div class="trajectory__info--top">
                                        <div class="trajectory__info--obr">
                                            Қабылдау шарттары
                                        </div>
                                    </div>
                                    <div class="trajectory__info--body">
                                        <div class="trajectory__info--body-item">
                                            <div class="trajectory__info--body-top">
                                                <div class="trajectory__info--obr">
                                                    Мекенжайымыз: Алматы облысы, Жамбыл ауданы, Қарғалы ауылы, Журунов
                                                    60а
                                                    <br>
                                                    Байланыс телефондары: <a href="tel:+77277156799">+7 (727) 715-67-99</a>
                                                    <br>
                                                    e-mail: <a href="mailto:ushkonir@bk.ru">ushkonir@bk.ru</a>
                                                    <br>
                                                    <a href="{{ '/contacts' }}">Хат жолдау</a>
                                                    <br>
                                                    Сұрақтар мен ұсыныстар бойынша және басқа да тақырыптар бойынша
                                                    бізге хат жолдауыңызға болады.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}