{% extends "news/base.html" %}


{% block shere %}

	<meta property="og:title" content="Талапкер">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}


{% block content %}


    <section>
        <div class="bg-white pt-3 pb-5 pd_academy">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 mb-4">
                        <a href="{{url}}talapkerMessange" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/111.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Талапкерге хабарлама
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="{{url}}science" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/3333.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Талапкер инструкциясы
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="{{url}}usl" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/222.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Қабылдау жүйесі
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="{{url}}kuj" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/2222.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Оқуға түсу құжаттары
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="#" class="section-item">
                            <div class="section-item__img-wrap">
                                <div class="section-item__img" style="background-image: url(/media/imeges/555.jpeg)">
                                </div>
                            </div>

                            <div class="section-item__content">
                                <div class="section-item__title">
                                    Оқылатын пәндер
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>


{% endblock content %}