{% extends "news/base.html" %}

{% block shere %}

	<meta property="og:title" content="Қабылдау жүйесі">
	<meta property="og:site_name" content="Ushkonir">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="/media/imeges/history.jpeg">

{% endblock shere %}


{% block content %}


    <div class="section__title-banner pd_academy">
        <div class="container">
            <h1 class="section__title section__title--white">
                Қабылдау жүйесі </h1>
            <div class="section__description">
                Тұлғаларды колледжге оқуға қабылдау конкурстық негізде тұлғалардың өтініштері бойынша жүзеге асырылады
            </div>
        </div>
    </div>

    <div class="section__list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="institutions__list trajectory__list">
                        <div class="institutions__body news__item--line">
                            <div class="trajectory__info">
                                <div class="trajectory__info--item" id="stage1">
                                    <div class="trajectory__info--top">
                                        <div class="trajectory__info--obr">
                                            Колледжге оқуға азаматтардың өтініштерін қабылдау:
                                        </div>
                                    </div>
                                    <div class="trajectory__info--body">
                                        <div class="trajectory__info--body-item">
                                            <div class="trajectory__info--body-top">
                                                <div class="trajectory__info--obr">
                                                    1. орта буын мамандарын даярлауды көздейтін техникалық және кәсіптік
                                                     білім беру бағдарламалары бойынша оқудың күндізгі нысанына 20
                                                    маусым мен 20 тамыз аралығында;
                                                </div>
                                            </div>
                                            <div class="trajectory__info--body-text" style="display: block;">
                                                <div class="trajectory__info--text">
                                                    Оқуға түсушілер білім беру ұйымдарына оқуға қабылдау туралы
                                                    өтінішіне білімі туралы құжаттың түпнұсқасын, № 086-У нысаны
                                                    бойынша  медициналық анықтаманы және  мөр басылған медициналық
                                                    мекеменің флюрография суретін (I және II топтағы мүгедектер мен бала
                                                    жасынан мүгедектер үшін медициналық-әлеуметтік сараптаманың
                                                    қорытындысы), 3x4 көлемдегі 4 суретті қоса береді. <br>Жеке басын
                                                    куәландыратын құжаттарды оқуға түсушінің өзі, ата-аналары немесе
                                                    заңды өкілдері ұсынады.
                                                    <br>Колледжге оқуға қабылдау квоталары қарастырылған тұлғалар
                                                    санатты
                                                    растайтын құжаттарды ұсынады.

                                                    <br>Оқуға түсушілерден түскен өтініштер білім беру ұйымының тіркеу
                                                    журналдарына оқытудың нысандары бойынша тіркеледі.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trajectory__info--body-item">
                                            <div class="trajectory__info--body-top">
                                                <div class="trajectory__info--obr">
                                                    2. Түсу емтихандары орта буын мамандарын даярлауды көздейтін
                                                    техникалық және кәсіптік  білім беру бағдарламалары бойынша және:
                                                </div>
                                            </div>
                                            <div class="trajectory__info--body-text" style="display: block;">
                                                <div class="trajectory__info--text">
                                                    1) жалпы орта білімі (11 сынып) бар оқуға түсушілер үшін үш пән
                                                    бойынша (қазақ тілі, Қазақстан тарихы және мамандық бейіні бойынша
                                                    пән) өткізіледі;
                                                    <br>2) негізгі орта білімі(9 сынып) бар оқуға түсушілер негізгі орта
                                                    білімнің жалпы білім беретін оқу бағдарламалары көлемінде екі пән
                                                    бойынша (қазақ тілі және мамандық бейіні бойынша пән);
                                                    Конкурс колледжде өткізілген оқуға түсу емтихандардың нәтижесі балл
                                                    (баға) қорытындысы бойынша өткізіледі.
                                                    Қабылдау  комиссиясы тиісті бағыттар бойынша оқуға түсушілермен жеке
                                                    сұхбатты 20 минуттай өткізеді.
                                                    Сұхбат жүргізуге арналған сұрақтар тізімін  қабылдау комиссиясының
                                                    төрағасы бекітеді.
                                                    <br>
                                                    Орта буын мамандарын даярлауды көздейтін техникалық және кәсіптік
                                                     білім беру бағдарламалары бойынша оқуға түсетін тұлғалар үшін
                                                    оқудың күндізгі нысанына түсу емтихандары 1 тамыз бен 27 тамыз
                                                    аралығында өткізіледі.
                                                </div>

                                            </div>
                                        </div>
                                        <div class="trajectory__info--body-item">
                                            <div class="trajectory__info--body-top">
                                                <div class="trajectory__info--obr">
                                                    3. Қабылдау емтихандары қағазда немесе компьютерлік техниканы
                                                    пайдалана отырып тестілеу формасында өткізіледі:
                                                </div>
                                            </div>
                                            <div class="trajectory__info--body-text" style="display: block;">
                                                <div class="trajectory__info--text">
                                                    <p>
                                                    <ul class="trajectory__info--linck">
                                                        <li>- тест тапсырмаларының саны әрбір пән бойынша  (сұрақтары)
                                                            25</li>
                                                        <li>- әрбір тест тапсырмасының дұрыс жауабы 1 баллмен бағаланады
                                                        </li>
                                                        <li>- тестілеуге үш пән бойынша 2 сағат 15 минут, ал екі пән
                                                            бойынша 1
                                                            сағат 30 минут беріледі</li>
                                                        <li>- дұрыс жауаптар коды тестілеу аяқтала салысымен
                                                            ілінеді(қағазда
                                                            жазбаша түрінде жүргізілген болса)</li>
                                                        <li>- тестілеу нәтижелері өткізілген күні хабарланады</li>
                                                    </ul>
                                                    <p>Колледжде қабылдау емтихандары қазақ тілдерінде өткізіледі.

                                                        <br>Қабылдау емтихандарын қайта тапсыруға рұқсат етілмейді.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}