<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новости</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <meta name="theme-color" content="#294a70">

    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>

    <header>
        <div class="header colorized">
            <div class="header__top px-3 px-lg-4 py-1">
                <button class="navbar-toggler mr-2 d-lg-none collapsed" type="button" data-toggle="collapse"
                    data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="pop"></div>
                <a class="navbar-brand" href="http://127.0.0.1:8000/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>

                <div class="header__title mx-2">
                    Үшқоңыр медресе колледжі</div>

                <div class="col"></div>


                <div class="header__top-nav d-lg-block">
                    <a href="/contacts/" class="td-none"> Байланыс </a>
                </div>



                <div class="d-flex align-items-center mx-2 mx-lg-4">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#searchModal">
                        <i class="fa fa-search"></i>
                    </button>

                    <button type="button" class="btn btn-link td-none" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-edit"></i>
                        <span class="d-md-inline td-none"></span>
                        Ұсыныс
                    </button>
                </div>

                <ul class="header-locales">
                    <li class="">
                        <a href="https://www.instagram.com/ushqonir_mk/" target="_blank">
                            <i class="mr-1 fa fa-instagram colorInsta"></i> Instagram
                        </a>
                    </li>
                    <li class="ml-2">
                        <a href="#" target="_blank">
                            <i class="mr-1 fa fa-youtube-play colorYouTube"></i> YouTube
                        </a>
                    </li>
                </ul>



            </div>

            <nav class="navbar navbar-expand-lg nnn">
                <div class="navbar-collapse collapse" id="headerNavbar">
                    <ul class="navbar-nav pd_nav_element">
                        <li class="nav-item">
                            <a class="nav-link" href="/academy">
                                Колледж
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nnn" href="/talapker">
                                Талапкер
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/student">
                                Студент
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/books">
                                Кітапхана
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/media">
                                Медиа
                            </a>
                        </li>
                    </ul>
                    <div class="col"></div>
                </div>
            </nav>
        </div>
    </header>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="exampleModalLabel">Ұсыныс қалдыру</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12">
                            <h6>Аты-жөніңіз</h6>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <h6>Почтаңыз</h6>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <h6>Тақырып</h6>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h6>Сообщение</h6>
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-lg btn-primary btn-gradient2 px-5">
                        Жабу</a>
                    <a href="" class="btn btn-lg btn-primary btn-gradient px-5">
                        Ұсыныс жіберу</a>
                </div>
            </div>
        </div>
    </div>


    {% block content %}

    {% endblock content %}


    <footer>
        <div class="footer">
            <div class="footer__top py-3">
                <div class="container">
                    <ul class="footer__socials">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ushqonir_mk/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__mid py-4" style="background-image: url({% static 'imeges/foot-img.png' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Колледж
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="/catalog/person/"> Әкімшілік </a>
                                    </li>
                                    <li>
                                        <a href="/aboutMedrese/"> Біз туралы </a>
                                    </li>
                                    <li>
                                        <a href="/history/"> Колледж тарихы </a>
                                    </li>
                                    <li>
                                        <a href="#"> Колледж структурасы </a>
                                    </li>
                                    <li>
                                        <a href="/contacts/"> Байланыс </a>
                                    </li>
                                    <li>
                                        <a href="#"> Кеңес </a>
                                    </li>
                                    <li>
                                        <a href="#"> Орталықтар </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Талапкер
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="/talapkerMessange/"> Талапкерге хабарлама </a>
                                    </li>
                                    <li>
                                        <a href="/science/"> Талапкер инструкциясы </a>
                                    </li>
                                    <li>
                                        <a href="/usl/"> Қабылдау жүйесі </a>
                                    </li>
                                    <li>
                                        <a href="/kuj"> Оқуға түсу құжаттары </a>
                                    </li>
                                    <li>
                                        <a href="#"> Оқылатын пәндер </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Студент
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="#"> Дарынды студенттер </a>
                                    </li>
                                    <li>
                                        <a href="#"> Студенттік өмір </a>
                                    </li>
                                    <li>
                                        <a href="#"> Студенттік жатахана </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Кітапхана
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="/books/"> Кітаптар </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Медиа
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="/catalog/news/1"> Жаңалықтар </a>
                                    </li>
                                    <li>
                                        <a href="/catalog/video/1"> Видеолар </a>
                                    </li>
                                    <li>
                                        <a href="/catalog/stati/1"> Мақалалар </a>
                                    </li>
                                    <li>
                                        <a href="/catalog/news_out/1"> Шетел жаңалықтары </a>
                                    </li>
                                    <li>
                                        <a href="/catalog/youthWork/1"> Жастармен жұмыс </a>
                                    </li>
                                    <li>
                                        <a href="/catalog/internationalCooperation/1"> Халықаралық әріптестік </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="contact_info cwhite contactFooter">
                                <div class="info_item">
                                    <i class="fa fa-home cco"></i>
                                    <h6>Алматы облысы, Жамбыл ауданы, Қарғалы а.о.</h6>
                                    <p>Ануарбек Журунов көшесі № 60А үй.
                                        Корпус №2 Алматы обл.<br> Қарасай ауданы,  Үшқоңыр ауылдық округі, Үшқоңыр
                                        ауылы,
                                        <br>Жибек жолы көшесі №164 үй.
                                    </p>
                                </div>
                                <div class="info_item">
                                    <i class="fa fa-phone cco"></i>
                                    <h6>
                                        <a href="#">8(72771)5-67-99 <br> 8(777)-824-11-00 <br>8(747)935-63-46(қыздар
                                            бөлімі) <br> 8(707)8747044</a>
                                    </h6>
                                    <br>
                                    <!--<p>Дүйсенбі-Жұма: 9:00-18:00</p>-->
                                </div>
                                <div class="info_item">
                                    <i class="fa fa-envelope cco"></i>
                                    <h6><a href="#">ushkonir@bk.ru</a></h6>
                                    <!--<p>Почта</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom py-2">
                <div class="container">
                    <div class="footer__bottom-content">
                        <img src="{% static 'imeges/logo.png' %}" class="img-fluid footer__logo" />

                        <div class="mx-3">
                            © Үшқоңыр медресе колледжі.
                            Kazakhstan, Almaty. 2022
                        </div>

                        <div class="col"></div>

                        <div class="freeDomFooter">
                            This template is made with
                            <i class="fa fa-heart"></i> by <a href="#"> Freedom Company </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scrollup">
        <i class="fa fa-chevron-up"></i>
    </div>

    <script type="text/javascript" src="https://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>