<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>О колледже</title>
</head>

<body>
    <header>
        <div class="header colorized">
            <div class="header__top px-3 px-lg-4 py-1">
                <button class="navbar-toggler mr-2 d-lg-none collapsed" type="button" data-toggle="collapse"
                    data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="pop"></div>
                <a class="navbar-brand" href="index.html">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>

                <div class="header__title mx-2">
                    Международный исламский колледж </div>

                <div class="col"></div>




            </div>

            <nav class="navbar navbar-expand-lg nnn">
                <div class="navbar-collapse collapse" id="headerNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="academy.html">
                                Академия
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nnn" href="aboutMedrese.html">
                                О колледже
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="science.html">
                                Наука
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blogD.html">
                                Блог ректора
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="usl.html">
                                Услуги
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="media.html">
                                Медиа
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacts.html">
                                Наши контакты
                            </a>
                        </li>
                    </ul>
                    <div class="col"></div>
                </div>
            </nav>
        </div>
    </header>






    <section>
        <div class="discuss_projects discuss_projects1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="project_text text-center">
                            <h3>USHQONYR</h3>
                            <p>Medrese kolledji</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="about_me">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="about_e_details">
                            <h3>О колледже</h3>
                            <p>«Колледж Ушконыр медресе» был образован в 2015 году. Колледж имеет лицензию на право
                                ведения образовательной деятельности по программам общеобразовательного, технического и
                                профессионального образования, выданную 20.12.2017
                                году, №KZ51LAA00010535.
                            </p>
                            <p>Прием производится :на базе основного общего образования (9 кл.), на базе среднего общего
                                образования (11кл.).
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="about_img">
                            <div class="my_Pic">
                                <img src="{% static 'imeges/2.jpg'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="story-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title pb-3">
                        <h2>История</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="story-left">
                        <div class="story-item">
                            <h2>2008</h2>
                            <div class="si-text">
                                <h4>Lorem ipsum dolor sit amet.</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quae expedita
                                    corporis perferendis, quam ad sapiente similique mollitia ut soluta.
                                </p>
                            </div>
                        </div>
                        <div class="story-item">
                            <h2>2011</h2>
                            <div class="si-text">
                                <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos culpa nemo sed
                                    reprehenderit possimus suscipit explicabo, rerum impedit atque voluptatem!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="story-right">
                        <div class="story-item">
                            <h2>2015</h2>
                            <div class="si-text">
                                <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam eaque aliquam
                                    corrupti dolorem! Facilis, iste! Nulla dolorum distinctio sed officia, autem
                                    accusamus quisquam.
                                </p>
                            </div>
                        </div>
                        <div class="story-item">
                            <h2>2019</h2>
                            <div class="si-text">
                                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing.</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cumque sed totam.
                                    Illum sunt at asperiores libero voluptas reprehenderit atque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-top-border project_text11">
            <h3 class="mb-30 pd-study">Медресе-колледж Ушконыр</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'imeges/logo.png' %}" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <blockquote class="generic-blockquote">
                        <span>Основная цель:</span> Подготовка высококвалифицированных и конкурентоспособных
                        специалистов компетентных в вопросах основ ислама и его направлений, научно-исследовательской
                        методологии, истории исламской религии и знаний;
                        оказание помощи в повышении квалификации специалистов, кадров для структур ДУМК, мечетей,
                        религиозных учебных заведений и тд; Реализация образовательных программ в сфере исламоведения,
                        повышение научного, духовно-религиозного потенциала
                        общества.
                        <br> <br> <span>Объекты профессиональной деятельности и трудоустроиства: специальности
                            «Исламоведение».</span> Управление по вопросам молодежной политики, Департамент по делам
                        религии, Администрация ("акимат"), СМИ, Научно-исследовательские,
                        музейные центры, Религиозные организации <span>(ДУМКа РК, мечети и т.д.).</span> Работа в
                        органах МВД, КНБ и прокуратуре как специалиста по делам религии, консультант по вопросам
                        государственно-правовых, межрелигиозных и межконфессиональных
                        отношений, специалист в государственных, конфессиональных и общественных организациях,
                        преподаватель в учебных заведениях.
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section-top-border text-right project_text11">
            <div class="row">
                <div class="col-md-12">
                    <blockquote class="generic-blockquote">
                        <span>Материально-техническая база</span> соответствует нормативным требованиям и позволяет
                        проводить образовательный процесс на должном уровне. Учебные кабинеты и лаборатории оснащены
                        компьютерами, современными техническими средствами
                        обучения. В аудиториях установлено более <span>35 компьютеров</span>, обеспеченных выходом в
                        интернет. В пользовании студентов — читальный зал и богатая библиотека (экземпляров книг –
                        <span>17128</span>), футбольное поле, оснащённые
                        учебные кабинеты и уютное благоустроенное общежитие, столовая на <span>300</span> мест.
                        <br> <br> На сегодняшний день всего сотрудников в колледже – <span>42 человек</span>, из них
                        педагогических работников – <span>24 чел</span>. Имеют ученую степень– <span>5 чел.( кандидаты
                            наук, магистры), 67%</span> преподавателей
                        имеют
                        <span>высшую и первую</span> категории. За последние 3 года прошли курсы повышения квалификации
                        в учебных центрах <span>15</span> человек. В коллективе имеются обладатели Нагрудных знаков
                        <span>«Ы.Алтынсарин», Грамотами ДУМК и МОН РК.</span>
                        <br> <br>В учебно-воспитательной системе колледжа подчинено принципу развития творческой
                        личности. Действуют творческие клубы, кружки; молодёжное крыло. Учащиеся активно пользуются
                        возможностью участвовать в конкурсах, спортивных
                        соревнованиях, выставках художественного творчества и становятся их лауреатами, призёрами и
                        обладателями Гран-при. Принимали участие более 100 студентов нашего колледжа, из них 34 стали
                        призерами в олимпиадах по исламским дисциплинам
                        и арабскому языку, а также конференции Малой Академии наук Республики Казахстан (МАН РК). В 2019
                        году колледж вступил в сеть Ассоцированных образовательных учреждении ЮНЕСКО в Казахстане.
                        Выпуск 2016-2019 года – 126 человека, имеет
                        высший показатель (95%) по уровню трудоустройства выпускников.
                    </blockquote>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="footer">
            <div class="footer__top py-3">
                <div class="container">
                    <ul class="footer__socials">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="footer__mid py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Академия
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="#">
                                            Руководство
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            О нас
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            История Академии
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Контакты
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Блог ректора
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Услуги
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    О колледже
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="#">
                                            О колледже
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            История
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Ushkonyr медресе
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Наука
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="#">
                                            Учебный процесс
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Наши преимущества
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Блог ректора
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="#">
                                            Приветствие
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Вопрос и ответ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Услуги
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="#">
                                            Троектория поступления
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Советы
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Образование
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Наши контакты
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="#">
                                            Контакты
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Связь с колледжом
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Карта колледжа
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__block mb-4">
                                <div class="footer__block-label mb-2">
                                    Медиа
                                </div>
                                <ul class="footer__block-children">
                                    <li>
                                        <a href="#">
                                            Новости
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            "Зиё-медиа"
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Статьи
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Зарубежные новости
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="contact_info cwhite">
                                <div class="info_item">
                                    <i class="fa fa-home cco"></i>
                                    <h6>Almaty, Kazakhstan</h6>
                                    <p>ул. Azat</p>
                                </div>
                                <div class="info_item">
                                    <i class="fa fa-phone cco"></i>
                                    <h6><a href="#">+7 777 777 77 77</a></h6>
                                    <p>с Пн до Чт от 9:00 до 6:00</p>
                                </div>
                                <div class="info_item">
                                    <i class="fa fa-envelope cco"></i>
                                    <h6><a href="#">email@mail.ru</a></h6>
                                    <p>Все что хотите</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom py-2">
                <div class="container">
                    <div class="footer__bottom-content">
                        <img src="{% static 'imeges/logo.png' %}" class="img-fluid footer__logo">

                        <div class="mx-3">
                            © Международный медресе-колледж Ushkonyr. Kazakhstan, Almaty. 2021
                        </div>

                        <div class="col"></div>

                        <div>
                            This template is made with <i class="fa fa-heart"></i> by Bananas Company </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>